<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report A Crime!!</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <style>
      
      .talk {
        margin-left: 5px;
        margin-right: 5px;
        padding-top: -30px;
      }
    </style>
    <script>
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      }

      function showPosition(position) {
        document.getElementById("location").value = "Latitude: " + position.coords.latitude + ", Longitude: " + position.coords.longitude;
      }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <div class="container">
        <a class="navbar-brand" href="#">Report A Crime</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" style="color: #fff"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tel:+254 709 667 000">
                <i class="talk bi bi-telephone-plus-fill"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="emailto:info@gender.go.ke">
                <i class="talk bi bi-envelope-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="flash-message">
        <div
          class="alert {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% else %}alert-info{% endif %} alert-dismissible fade show"
          role="alert"
        >
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>{{ message }}</strong>
        </div>
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <form action="{{ url_for('report') }}" method="POST">
        
        
        
        <div class="form-group">
          
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            placeholder="Enter Your Name"
            value="{{ session['fullname'] }}"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Enter Your Email"
            value="{{ session['email'] }}"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="age"
            id="age"
            placeholder="Enter Your Age"
            required
          />
        </div>
        <div class="form-group">
          <select class="form-control" name="gender" id="gender" required>
            <option value="">Select Your Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Others">Others</option>
          </select>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="phone"
            id="phone"
            placeholder="Enter Your Phone Number (max. 10 characters)"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="location"
            name="location"
            placeholder="Enter Location of the Crime"
            onclick="getLocation()"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="remain anonymous"
            id="remain anonymous"
            placeholder="Remain Anonymous Yes or No"
            required
          />
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            name="desc"
            id="desc"
            cols="30"
            rows="10"
            placeholder="Enter the details of the crime, i.e., how did the crime take place, the details of the victims, any information about the criminals, and the details of the eyewitnesses, if present at the location."
            required
          ></textarea>
           
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
